[Unit]
Description=Binance bot

[Service]
User=root
WorkingDirectory=/root/binance-bot
ExecStart=npm run start:dev
Restart=always
StandardOutput=append:/root/binance-bot.log
StandardError=append:/root/binance-bot-error.log

[Install]
WantedBy=multi-user.target